m-modal-confirm {

  m-modal {    
    .m-modal-container{
      min-width: 340px;
      min-height: 0;
      
      .mdl-card {
        min-height: 0;
      }
    }
  }
  
  .m-modal-confirm-title {
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 21px;
  }

  .m-modal-confirm-body {
    padding: ($opspot-padding * 2) (24px + ($opspot-padding * 4)) ($opspot-padding * 2) ($opspot-padding * 2);
  }

  .m-modal-confirm-buttons {
    margin-top: $opspot-padding * 2;
    
    > button + button {
      margin-left: $opspot-padding;
    }
  }

}
